.modal-title{
border-bottom:#C9302C solid 1px;
}
.cursor{
cursor:pointer;
}
.modal-title{
color:#C9302C;
}
.form-label{
color:black;
}
.hoverline:hover{
	text-decoration:underline;
	color:#E91E63;
}
.border-input{
	border:#cfcfcf solid 1px;
}
.sadow{
	 text-shadow:1px 1px 1px  black;
}.sadow1{
	 text-shadow:1px 1px 1px  white;
}.sadow2{
	 text-shadow:1px 1px 1px  white;
	 color:black;
}
#table thead{
	//background-color:#8BC34A;color:white;
}
.btn-top{
margin-top:-30px;
}
.white{
	color:white;
}
.input{
border:#A9A9A9 solid 1px;
}
.input-file{
border:#A9A9A9 dashed 1px;
}
.img{
	border-radius:10px;
	padding:5px;
	border:#A9A9A9 solid 1px;
}
.b{
	font-weight:bold;
}

.scroll {
   padding:15px;
    height: 450px;
    overflow: scroll;
}
.vertikal{
	-moz-transform-origin:0 50%;
    -moz-transform:rotate(-90deg) translate(-50%, 50%);
    -webkit-transform-origin:0 50%;
    -webkit-transform:rotate(-90deg) translate(-50%, 50%);
    -o-transform-origin:0 50%;
    -o-transform:rotate(-90deg) translate(-50%, 50%);
    -ms-transform-origin:0 50%;
    -ms-transform:rotate(-90deg) translate(-50%, 50%);
    transform-origin:0 50%;
    transform:rotate(-90deg) translate(-50%, 50%);
      
    
}
.absolute{
	position:absolute;
	display:hidden;
}



  
  
  
  
  
  
  
.entry2{
	font-size:14px;
}

.entry2 table {
  border-collapse:collapse;

  width:100%;
 
  margin:0 auto 25px auto;
}
.entry2 table, .entry2 th, .entry2 td {
  border: 1px solid black;
  padding:5px 10px;
}
.entry2 tr {
  color:black;
  font:normal 14px Arial, Helvetica, sans-serif;
  -webkit-transition:All 1s ease;
  -moz-transition:All 1s ease;
  -o-transition:All 1s ease;
  transition:All 1s ease;
}
.entry2 th {
  color:white;
  font-weight:bold;
background-color:#0FB3C2;
}

.entry2 tr:nth-child(even) {
  color:black;
 
}
.entry2 tr:hover, .entry tr:nth-child(even):hover {
  color:black;
  text-shadow: 0px 0px 15px #FFFFFF;
}


  
  
  
  
  
  
.entry{
	font-size:14px;
}

.entry table {
  border-collapse:collapse;
  width:100%;
  margin:0px;
}
.entry table, .entry th, .entry td {
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  
}

.entry tr {
  color:black;
  font:normal 14px Arial, Helvetica, sans-serif;
  -webkit-transition:All 1s ease;
  -moz-transition:All 1s ease;
  -o-transition:All 1s ease;
  transition:All 1s ease;
}
.entry th {
  color:white;
  font-weight:bold;
background-color:#0FB3C2;
}
.entry tr:nth-child() {
  border-top: 1px solid black;
} 

.entry td:nth-last-child(5n+1) {
  border-right: 1px solid black;
} 

.entry td:nth-last-child(5n+1) {
  
} 
.entry tr:nth-child(even) {
  color:black;
background-color:#e8e8e8;
}
.entry tr:hover, .entry tr:nth-child(even):hover {
  color:black;
  text-shadow: 0px 0px 15px #FFFFFF;
}

.bg-grey{
	background-color:#eee;
}

table .page-header{
	border:#2ECC71 solid 1px;
}

.font12{
	font-size:12px;
}.font13{
	font-size:13px;
}.font14{
	font-size:14px;
}

.btn-active{
	background-color:#0FB3C2;
	color:white;
}

.text-black{
	color:black;
}
.bg-teal{
	background-color:#0FB3C2;
	color:white;
}  
.btn-teal{
	background-color:#0FB3C2;
	color:white;
}  
.bg-grey{
	background-color:#546d77;
	color:white;
}


.wrap{
	 word-wrap: break-word;
}

.cursor{
	cursor:pointer;
}
.tabfix{
	 
  margin: 0 auto;
  width: 100%;
  clear: both;
  border-collapse: collapse;
  table-layout: fixed; 
  word-wrap:break-word; 
 
}

.pull-right{
	float:right;
}

.btn-outline-grey{
	 border:#546d77 solid 1px;
 
 }
 
 .ui-state-default{
			min-width:25px;  
			margin-right:5px;
 }
.valJam{
margin-left:-32px;
 
}		

.ajam{
	width:20px;
}
.text-black{
	color:black;
}
 
.ajs-content{
	color:black;
} 
 
 
.form-controls {
	display: block;
	width: 100%;
	height: calc(1.5em + .75rem + 2px);
	padding: .375rem .75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}
.form-controls:focus { 
	border: 1px solid #089BAB;
}
.sub-title{
	color:#089BAB;
}
 